body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

#root {
    margin: 20px;
}

#splitter {
    flex-grow: 1;
}

#first {
    background-color: yellow;
    width: 100%;
    height: 100%;
}
#second {
    background-color: red;
    width: 100%;
    height: 100%;
}